:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* HEADER */
.page-header {
  height: 80px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.page-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.site-nav {
  display: flex;
  flex-direction: row;
  margin: 32px 0 32px 40px;
  padding: 0;
}
.header-contacts {
  display: flex;
  flex-direction: row;
  margin: 32px 0 32px 258px;
  padding: 0;
}
/* logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin: 24px 0 25px 198px;
  padding: 0;
}
.accent {
  color: #000000;
}

/* site navigation */
.site-nav .link,
.header-contacts .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0 0 0 46px;
  padding: 0;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
